@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: cir;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
